<section class="tout" id="interests">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h2>Work Experience</h2>
            <hr />
         </div>
      </div>
      <div class="row">
         <div class="col-sm-6">
            <h3 style="margin-top:0">Projects and Internship</h3>
            <b><i><u>UnitedHealth Group, Hyderabad, Telangana</u></i></b>
            <b><i><u>Senior Software Developer</u> ( 2021-03 - Current )</i></b>
            <ul>
               <li>Designed and implemented a Java Spring Boot Application to manage Kafka topics and their access
                  control lists. Used Gradle for dependency management and application bundling.</li>
               <li>Used Docker, Jenkins and K8s for the deployment of Java SpringBoot application.</li>
               <li>Deployed and managed Kafka As a service to the Organisation on on-prem VMs, K8s.</li>
               <li>Designed and implemented a python project to analyse and merge the Pull Request to our
                  GitHub repo automatically. It reduced overall chat support efforts to analyse and merge
                  thousands of Pull Requests manually.</li>
               <li>Trained and mentored junior engineers.</li>
               <li>Involvement in technical and strategic decisions focused on maximising business value and
                  growth of the data platform</li>
            </ul>
            <br>
            <b><i><u>Software Developer</u> ( 2019-07 - 2021-03 )</i></b>
            <ul>
               <li>Worked as Platform engineer on the Data Externalization team at Optum.</li>
               <li>Focused on providing necessary tools and expertise to replace legacy mainframe solutions
                  with the modern data platform.</li>
               <li>Leveraged tools (including Terraform, Jenkins, Drone, Ansible, and more) to automate the
                  build and deployment of various components of the data platform.</li>
               <li>Enabled monitoring, observability, and telemetry for platform components as well as
                  customer applications consuming from the platform.</li>
            </ul>
            <br>
         </div>
         <div class="col-sm-6">
            <b><i><u>Internship (NITRR)</u> ( May 2017 - June 2017 )</i></b>
            <ul>
               <li>Designed and Developed the complete Website of NIT Raipur. Responsible for entire UI and Backend of
                  the website</li>
               <li> Implemented own CMS using PHP</li>
               <b><i><a style="color:#3a4660;" href="www.nitrr.ac.in">Demo</i></a></b>
            </ul>
            <br>
            <h3 style="margin-top:0">Skills</h3>
            <ul>
               <li>Agile Delivery</li>
               <li>Full Stack Development(Java)</li>
               <li>Expertise in Devops</li>
               <li>Expertise on various cloud platforms for deployment and management as openshift( ocp ), Kubernetes,
                  azure.</li>
               <li>Collaborative, creative and calm demeanor</li>
            </ul>
            <h3 style="margin-top:0">Awards and Achievements</h3>
            <b><i><u>Star Performer</u></i></b>
            <ul>
               <li>Bagged 5 awards for development, creativity, leadership and collaboration that are among the 5 best
                  qualities defined for an engineer in the organization.</li>
               <li>Star Award winner for various quarters in 2020-21 in the Data Platform team at Optum and promoted to
                  senior software engineer within 2 years.</li>
            </ul>
            <b><i><u>CODEUTSAVA 3.0 WINNER</u></i></b>
            <ul>
               <li>
                  Won the National level Hackathon held in Nit Raipur, By building a Incubator Management System for
                  36Inc.<b><i><a style="color:#3a4660;"
                           href="https://drive.google.com/file/d/15mfDVZXmDwOGhAZG90zBE_S_g7bwxCml/view?usp=drivesdk">
                           Credentials</i></a></b>
               </li>
            </ul>
            <b><i><u>Certificate of Appreciation</u></i></b>
            <ul>
               <li>
                  Received a Appreciation cretificate from <b>Dean</b> and <b>Registrar</b> of NIT Raipur for making NIT
                  Raipur offcial Website.<b><i><a style="color:#3a4660;"
                           href="https://drive.google.com/file/d/0B8TfxxdcwejydldEaEtTYTdWelE/view">
                           Credentials</i></a></b>
               </li>
            </ul>
            <b><i><u>Overall Coordinator Techfest (NITRR)</u></i></b>
            <ul>
               <li>
                  Responsible for Managing the technical and financial aspects of the Tech fest <b>Aavartan</b>.
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>