<section class="tout" id="interests">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h3>Work Experience</h3>
            <hr />
         </div>
      </div>
      <div class="row">
         <div class="col-sm-6">
            <h4 style="margin-top:0"><u>Lead Software Developer, Optum</u></h4> <b>( 2022-08 - Current )</b>
            <ul>
               <li>Developed a Kubernetes Operator and Agent in Golang, automating Kafka resource generation in a Kubernetes 
                  GKE cluster using Custom Resource Definitions (CRDs). Designed for high scalability, this solution supports 
                  thousands of production customers and manages an extremely large number of resources efficiently.</li>
               <li>Utilized Elasticsearch for storing and searching metadata, 
                  improving the efficiency of verifying resource existence before creation.</li>
               <li>Designed and developed REST APIs to support UI functionalities, ensuring 
                  robust and efficient data handling.</li>
               <li>Mentored and guided engineers, providing technical guidance, conducting code reviews, 
                  and organizing knowledge-sharing sessions.</li>
            </ul>
            <br>
            <h4 style="margin-top:0"><u>Senior Software Developer, Optum</u></h4> <b>( 2021-03 - 2022-08 )</b>
            <ul>
               <li>Implemented a Python-based CI/CD automation for GitHub, automating PR analysis and merges.</li>
               <li>Developed a role-based Admin Dashboard in Golang for our platform offering, 
                  integrating secure APIs for PagerDuty alerts, ServiceNow ticket management, 
                  and GitHub API for tracking open issues.</li>
               <li>Utilized PostgreSQL for scalable storage of user data, ensuring integrity.</li>
               <li>Implemented backend services with SOLID principles for maintainability.</li>
               <li>Orchestrated Docker and Kubernetes for streamlined deployment.</li>
               <li>Ensured code quality with comprehensive unit tests written in Golang.</li>
            </ul>
            <br>
            <h4 style="margin-top:0"><u>Senior Software Developer, Optum</u></h4> <b>( 2019-07 - 2021-03 )</b>
            <ul>
               <li>Deployed and managed the infrastructure for Kafka to support petabyte-scale data across 
                  on-premise and GCP cloud data centers</li>
               <li> Automated build and deployment of data platform components using Terraform, 
                  Github Actions, Docker, and Kubernetes.</li>
               <li>Implemented monitoring, observability, and telemetry 
                  for platform components, enhancing overall system visibility and readiness.</li>
               <li>Provided on-call support to address and resolve critical issues 
                  outside regular working hours.</li>
            </ul>
            <br>
            <h4 style="margin-top:0"><u>Internship (NITRR)</u></h4> <b>( May 2017 - June 2017 )</b>
            <ul>
               <li>Designed and Developed the complete Website of NIT Raipur. Responsible for entire UI and Backend of
                  the website</li>
               <li> Implemented own CMS using PHP</li>
               <b><i><a style="color:#3a4660;" href="www.nitrr.ac.in">Demo</i></a></b>
            </ul>
         </div>
         <div class="col-sm-6">
            <h4 style="margin-top:0"><u>Skills</u></h4>
            <ul>
               <li>Agile Delivery</li>
               <li>Backend Development with Golang</li>
               <li>Microservices Architecture</li>
               <li>Database</li>
               <li>Version Control (Git)</li>
               <li>Cloud platforms (GCP)</li>
               <li>DevOps Practices</li>
               <li>Kubernetes & Docker</li>
               <li>Distributed Systems</li>
               <li>Collaborative and Creative Problem Solving</li>
            </ul>
            <br>
            <h4 style="margin-top:0"><u>Awards and Achievements</u></h4>
            <b><i><u>Star Performer</u></i></b>
            <ul>
               <li>Bagged 5 awards for development, creativity, leadership and collaboration that are among the 5 best
                  qualities defined for an engineer in the organization.</li>
               <li>Star Award winner for various quarters in 2020-21 in the Data Platform team at Optum and promoted to
                  senior software engineer within 2 years.</li>
            </ul>
            <b><i><u>CODEUTSAVA 3.0 WINNER</u></i></b>
            <ul>
               <li>
                  Won the National level Hackathon held in Nit Raipur, By building a Incubator Management System for
                  36Inc.<b><i><a style="color:#3a4660;"
                           href="https://drive.google.com/file/d/15mfDVZXmDwOGhAZG90zBE_S_g7bwxCml/view?usp=drivesdk">
                           Credentials</i></a></b>
               </li>
            </ul>
            <b><i><u>Certificate of Appreciation</u></i></b>
            <ul>
               <li>
                  Received a Appreciation cretificate from <b>Dean</b> and <b>Registrar</b> of NIT Raipur for making NIT
                  Raipur offcial Website.<b><i><a style="color:#3a4660;"
                           href="https://drive.google.com/file/d/0B8TfxxdcwejydldEaEtTYTdWelE/view">
                           Credentials</i></a></b>
               </li>
            </ul>
            <b><i><u>Overall Coordinator Techfest (NITRR)</u></i></b>
            <ul>
               <li>
                  Responsible for Managing the technical and financial aspects of the Tech fest <b>Aavartan</b>.
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>