<section class="tout" id="interests">
   <div class="container">
      <div class="row">
         <div class="col-lg-12 text-center">
            <h3>Work Experience</h3>
            <hr />
         </div>
      </div>
      <div class="row">
         <div class="col-sm-6">
            <h4 style="margin-top:0"><u>Lead Software Developer, Optum</u></h4> <b>( 2022-08 - Current )</b>
            <ul>
               <li>Developed and deployed a Kubernetes Operator in Go to automate Kafka resource creation for 2,000+ production customers in GKE.</li>
               <li>Integrated Elasticsearch for efficient metadata search, reducing Kafka creation time.</li>
               <li>Designed REST APIs handling 10,000+ daily requests, ensuring robust backend processing.</li>
               <li>Mentored 3+ engineers through code reviews and technical guidance to improve team performance.</li>
            </ul>
            <br>
            <h4 style="margin-top:0"><u>Senior Software Developer, Optum</u></h4> <b>( 2021-03 - 2022-08 )</b>
            <ul>
               <li>Built a Python app for GitHub task automation, integrating with AWS S3 for schema storage, reducing PR analysis time by 50%.</li>
               <li>Developed a role-based Admin Dashboard in Go with secure APIs for PagerDuty alerts and ServiceNow ticket management, integrating GitHub API for issue tracking.</li>
               <li>Utilized PostgreSQL for scalable user data management.</li>
               <li>Ensured code quality and reliability with comprehensive unit tests in Go, achieving over 85% test coverage to enhance system stability and reduce bugs.</li>
            </ul>
            <br>
            <h4 style="margin-top:0"><u>Senior Software Developer, Optum</u></h4> <b>( 2019-07 - 2021-03 )</b>
            <ul>
               <li>Deployed and managed Kafka infrastructure, supporting over 2 petabytes of data across on-premise and GCP cloud data centers, ensuring high availability and scalability.</li>
               <li>Built a robust Java application using Spring boot, designed to manage Kafka topics and their access control lists. The application is capable of creating topics from csv files, seamlessly integrated with Github, and exporting team data to AWS S3.</li>
               <li>Automated build and deployment of data platform components using Terraform, GitHub Actions, Docker, and Kubernetes, streamlining delivery and infrastructure management.</li>
               <li>Implemented monitoring, observability, and telemetry for platform components to enhance system visibility and operational readiness.</li>
               <li>Provided on-call support to resolve critical production issues outside of regular hours, ensuring system reliability.</li>
            </ul>
            <br>
            <h4 style="margin-top:0"><u>Internship (NITRR)</u></h4> <b>( May 2017 - June 2017 )</b>
            <ul>
               <li>Designed and Developed the complete Website of NIT Raipur. Responsible for entire UI and Backend of
                  the website</li>
               <li> Implemented own CMS using PHP</li>
               <b><i><a style="color:#3a4660;" href="www.nitrr.ac.in">Demo</i></a></b>
            </ul>
         </div>
         <div class="col-sm-6">
            <h4 style="margin-top:0"><u>Skills</u></h4>
            <ul>
               <li>Agile Delivery</li>
               <li>Backend Development</li>
               <li>Microservices Architecture</li>
               <li>Database</li>
               <li>Version Control (Git)</li>
               <li>Cloud platforms (GCP)</li>
               <li>DevOps Practices</li>
               <li>Kubernetes & Docker</li>
               <li>Spring Boot</li>
               <li>Core Java</li>
            </ul>
            <br>
            <h4 style="margin-top:0"><u>Awards and Achievements</u></h4>
            <b><i><u>Star Performer</u></i></b>
            <ul>
               <li>Bagged 5 awards for development, creativity, leadership and collaboration that are among the 5 best
                  qualities defined for an engineer in the organization.</li>
               <li>Star Award winner for various quarters in 2020-21 in the Data Platform team at Optum and promoted to
                  senior software engineer within 2 years.</li>
            </ul>
            <b><i><u>CODEUTSAVA 3.0 WINNER</u></i></b>
            <ul>
               <li>
                  Won the National level Hackathon held in Nit Raipur, By building a Incubator Management System for
                  36Inc.<b><i><a style="color:#3a4660;"
                           href="https://drive.google.com/file/d/15mfDVZXmDwOGhAZG90zBE_S_g7bwxCml/view?usp=drivesdk">
                           Credentials</i></a></b>
               </li>
            </ul>
            <b><i><u>Certificate of Appreciation</u></i></b>
            <ul>
               <li>
                  Received a Appreciation cretificate from <b>Dean</b> and <b>Registrar</b> of NIT Raipur for making NIT
                  Raipur offcial Website.<b><i><a style="color:#3a4660;"
                           href="https://drive.google.com/file/d/0B8TfxxdcwejydldEaEtTYTdWelE/view">
                           Credentials</i></a></b>
               </li>
            </ul>
            <b><i><u>Overall Coordinator Techfest (NITRR)</u></i></b>
            <ul>
               <li>
                  Responsible for Managing the technical and financial aspects of the Tech fest <b>Aavartan</b>.
               </li>
            </ul>
         </div>
      </div>
   </div>
</section>